body {
  overflow-x: hidden !important;
}
body::-webkit-scrollbar {
  display: none !important;
  -ms-overflow-style: none !important;
  /* IE and Edge */
  scrollbar-width: none !important;
  /* Firefox */
}