.light-mode {
  background-color: #f9f6ee;
  color: black;
}
.dark-mode {
  background-color: #343434;
  color: white;
}
.mr-1 {
  margin-right: 0.5rem;
}
.wrapper {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  scroll-behavior: smooth;
}
.top-right {
  position: absolute;
  top: 0.5em;
  right: 1em;
  z-index: 4;
  background-color: #28282b;
  padding: 1rem;
}
.toggle-btn {
  border: none;
  background: none;
  padding: 0;
  display: flex;
}
.toggle {
  width: 5rem;
  border-radius: 15px;
  padding: 3px;
}
.active {
  background-color: lime;
}
.inactive {
  background-color: white;
}
.icon {
  width: 4rem;
  padding: 0.2rem 0.2rem;
  border-radius: 1rem;
}
.circle {
  display: none;
}
.circle-btn {
  height: 100%;
  width: 1.5rem;
}
.information {
  width: 40rem;
}
.aside {
  position: absolute;
  top: 0.5rem;
  left: 0.5rem;
  z-index: 4;
}
.menu {
  font-size: 1.5rem;
}
.menu-btn {
  padding: 0.7rem;
  background-color: #28282b;
  color: white;
}
.nav {
  background-color: #28282b;
  width: 10em;
}
.close-btn {
  right: 5px;
  top: 25%;
  padding: 0;
}
.glass-bg {
  /* From https://css.glass */
  background: rgba(27, 218, 211, 0.24);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(1.8px);
  -webkit-backdrop-filter: blur(1.8px);
  border: 1px solid rgba(27, 218, 211, 0.38);
  width: 100%;
  padding: 1rem;
}
.carousel-item {
  height: 300px;
}
.carousel-img {
  width: 50vw;
  height: 100%;
  background-color: #4C4646;
}
.carousel-title {
  font-size: 32px;
}
/* media queries */
@media (max-width: 600px) {
  html {
    font-size: 12px;
  }
  .nav {
    font-size: 14px;
  }
  .top-right {
    font-size: 12.5px;
    right: 1.5rem;
  }

}
@media (max-width: 420px) {
  html {
    font-size: 9px;
  }
  .top-right {
    font-size: 10px;
  }
}
@media (max-width: 400px) {
  html {
    font-size: 8px;
  }
}
